* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

p {
  font-family: 'Jaldi', sans-serif;
  margin-top: 10px;
}

h3 {
  font-family: 'Jaldi', sans-serif;
  margin-bottom: 20px;
}

h4 {
  font-family: 'Jaldi', sans-serif;
  font-size: 30px;
  margin-top: 30px;
}

h5 {
  margin-top: 10px;
  font-family: 'Jaldi', sans-serif;
  font-size: 1.3em;
  text-align: center;
  letter-spacing: 2px;
  display: block;
  /* height: 120px; */
  /* line-height: 100px; */
}

h6 {
  margin-top: 10px;
  font-family: 'Jaldi', sans-serif;
  font-size: 15.5px;
}

header {
  width: 100%;
  display: inline;
}

#btn-menu {
  display: none;
}

header label {
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-right: 1px solid #fff;
}

header label:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}

.menu {
  float: right;
  width: 50%;
  background: #30527f;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu li {
  border-right: 1px solid #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu li:hover {
  background: rgba(255, 255, 255, 0.1);
}

.menu li:hover a {
  color: #112442;
}

.menu li a {
  font-family: 'Jaldi', sans-serif;
  font-size: 20px;
  display: block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
}

.activo {
  background: #029EC7;
  color: red;
}

.social_superior {
  position: fixed;
  top: 90px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 50px;
  height: 180px;
  padding-left: 10px;
  line-height: 60px;
  z-index: 1000;
  border-radius: 0 10px 10px 0;
}

.social_superior a {
  color: white;
  margin-left: 5px;
}

.social_superior a:hover {
  color: red;
  margin-left: 5px;
}

.texto_cen_index {
  margin-top: 20px;
  text-align: center;
}

article {
  width: 100%;
  max-width: 1200px;
  /*max-width:950px;*/
  margin: 0 auto;
}

.centrado {
  /*max-width:950px;*/
  margin: 0 auto;
  text-align: center;
  position: relative;
}

article ul li {
  font-family: 'Jaldi', sans-serif;
  /*font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;*/
  list-style: none;
}

.cuadro_cen_index {
  /*float:left;*/
  display: inline-block;
  width: 230px;
  padding-top: 20px;
  margin-right: 10px;
  vertical-align: text-top;
  text-align: justify;
}

.cuadro_cen_index img {
  padding: 2px;
  border: 1px solid black;
}

.logros p {
  text-align: justify;
  padding: 0 10px;
  font-size: 0.8em;
}

.contenedor_secciones {
  width: 90%;
  margin: 3px auto;
  padding-bottom: 5px;
}

.contenedor_secciones2 {
  min-height: 100%;
  margin: 50px auto;
  max-width: 80%;
  padding-bottom: 20px;
}

.mapa {
  display: block;
  width: 90%;
  margin: auto;
}

iframe {
  padding-top: 20px;
}

.contactanos {
  margin-top: 20px;
  text-align: center;
  float: left;
  padding: 20px;
  width: 50%;
  height: 340px;
  /* border: 1px dashed black;
    background: rgba(0, 0, 0, .1); */
  border-left: 1px dashed black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Jaldi', sans-serif;
  font-size: 18px;
}

.contactanos2 {
  margin-top: 20px;
  float: left;
  padding: 20px;
  width: 50%;
  height: 340px;
  /* border: 1px dashed black;
    background: rgba(0, 0, 0, .1); */
  border-left: 1px dashed black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Jaldi', sans-serif;
  font-size: 18px;
}

.formulario label {
  display: block;
  width: 200px;
  font-family: 'Jaldi', sans-serif;
}

.formulario input {
  width: 300px;
  height: 30px;
}

textarea {
  width: 300px;
  height: 100px;
}

@media (max-width: 768px) {
  * {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  html,
  body {
    padding: 0;
    margin: 0;
    height: 100%;
  }
  article {
    width: 99%;
    min-width: 99%;
  }
  .header-banner {
    display: none;
  }
  .banner2 {
    display: block;
    position: relative;
  }
  .banner2 img {
    width: 100%;
  }
  .logo {
    display: block;
  }
  .logo img {
    width: 100%;
  }
  .logo_sup {
    display: none;
  }
  .derecha {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    color: white;
  }
  table {
    display: none;
  }
  .horario_cel {
    display: block;
  }
  header label {
    display: block;
    height: 50px;
    z-index: 100;
  }
  .menu {
    position: absolute;
    background-color: rgba(17, 36, 66, 0.9);
    width: 80%;
    margin-left: -78%;
    z-index: 100;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu li {
    border-top: 1px solid #fff;
  }
  .menu li:hover a {
    color: #000;
  }
  #btn-menu:checked ~ .menu {
    margin: 0;
  }
  .contenedor_am_1 {
    /*float:left;*/
    width: 90%;
    min-height: 550px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px black solid;
  }
  .caja-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contenedor_servicios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .caja_vertical {
    width: 90%;
    margin-bottom: 10px;
  }
  .contactanos {
    width: 100%;
  }
  .arriba {
    height: 180px;
  }
  .contactanos2 {
    width: 100%;
  }
  footer {
    height: auto;
  }
}

.caja-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
}

.caja-f {
  width: 500px;
  color: #808080;
}

.caja-f > p {
  margin: 0px;
  padding: 0px;
}

@media (max-width: 768px) {
  * {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  html,
  body {
    padding: 0;
    margin: 0;
    height: 100%;
  }
  article {
    width: 99%;
    min-width: 99%;
  }
  .header-banner {
    display: none;
  }
  .banner2 {
    display: block;
    position: relative;
  }
  .banner2 img {
    width: 100%;
  }
  .logo {
    display: block;
  }
  .logo img {
    width: 100%;
  }
  .logo_sup {
    display: none;
  }
  .derecha {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    color: white;
  }
  table {
    display: none;
  }
  .horario_cel {
    display: block;
  }
  header label {
    display: block;
    height: 50px;
    z-index: 100;
  }
  .menu {
    position: absolute;
    background-color: rgba(17, 36, 66, 0.9);
    width: 80%;
    margin-left: -78%;
    z-index: 100;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu li {
    border-top: 1px solid #fff;
  }
  .menu li:hover a {
    color: #000;
  }
  #btn-menu:checked ~ .menu {
    margin: 0;
  }
  .contenedor_am_1 {
    /*float:left;*/
    width: 90%;
    min-height: 550px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px black solid;
  }
  .caja-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contenedor_servicios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .caja_vertical {
    width: 90%;
    margin-bottom: 10px;
  }
  .contactanos {
    width: 100%;
  }
  .arriba {
    height: 180px;
  }
  .contactanos2 {
    width: 100%;
  }
  footer {
    height: auto;
  }
}
/*# sourceMappingURL=estilosrr.css.map */