
header {
    width: 100%;
    display: inline;
}
.banner2 {
    display: none;
}

#btn-menu {
    display: none;
}
.textologo {
    float: left;
    color: white;
    padding-left: 40px;
    line-height: 50px;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
.textologo2 {
    float: left;
    color: rgb(17, 36, 66);
    padding-left: 80px;
    line-height: 50px;
    margin-bottom: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
.fondo_blanco {
    display: inline-block;
    height: 30px;
    width: 50%;
    margin-bottom: 0;
    background-color: #fff;
}
.logo {
    display: none;
    text-align: center;
}

.logo_sup {
    width: 100%;
    height: 50px;
    background-color: rgb(17, 36, 66);

}

.logo_sup img {
    height: 100%;
    overflow: hidden;
    float: left;
    padding-left: 8px;
}

.logo_sup:hover {
    cursor: pointer;
    opacity: 0.8;
}

.p_dere {
    font-family: 'Jaldi', sans-serif;
    float: right;
    color: white;
    padding-right: 15px;
    line-height: 50px;
}

.cuadro_cen_index a {
    text-decoration: none;
    color: black;
}

.cuadro_cen_index a:hover {
    text-decoration: none;
    color: red;
}
.sup_izq {
    width: 50%;
    margin-left: 5%;
    height: 50px;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
}

header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

.menu {
    float: right;
    width: 50%;
    background: rgb(48, 82, 127);
    transition: 0.6s;
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    border-right: 1px solid #fff;
    transition: all 0.5s;
}

.menu li:hover {
    background: rgba(255, 255, 255, 0.1);
}

.menu li:hover a {
    color: rgb(17, 36, 66);
}

.menu li a {
    font-family: 'Jaldi', sans-serif;
    font-size: 20px;
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    
}

.activo {
    background: #029EC7;
    color: red;
}

.social_superior {
    position: fixed;
    top: 90px;
    left: 0px;
    background-color: rgba(0, 0, 0, .4);
    width: 50px;
    height: 180px;
    padding-left: 10px;
    line-height: 60px;
    z-index: 1000;
    border-radius: 0 10px 10px 0;
}

.social_superior a {
    color: white;
    margin-left: 5px;
}

.social_superior a:hover {
    color: red;
    margin-left: 5px;
}